@import "compass_twitter_bootstrap";
@import "pie_chart";
@import "table";

.insight {
  @include clearfix;

  .chart svg {
    float: left;
    width: auto;
    height: auto;
  }

  &.hero-unit {
    padding: 40px 40px 0 40px;
  }
}
